@import "tailwindcss";

@theme {
  --color-bg-primary: var(--background);
  --color-text-primary: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Giúp chuyển chế độ mượt hơn */
}
